:root{
	font-size: 10px;
	background-color: #1E1E1E;
	color: #FEFDFA;
	--theme: #A98F73;
}
body{
	margin: 0;
	font-family: sans-serif;
}
#header{
	font-size: 2rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: black;
	margin: 0;
	padding: 0 2rem;
}
.container{
	font-size: 2rem;
	display: flex;
    align-items: center;
    justify-content: space-between;
	border-radius: 15px;
}
#container1{
	margin: 8.3rem 15rem;
	gap: 5rem;
}
#container2{
	background-image: url("assets/benjamin-child-GWe0dlVD9e0-unsplash.jpg");
	object-fit: cover;
	margin: 0rem 20rem;
	padding: .5rem 9rem;
	height: auto;
	gap: 10rem;
}
#footer{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
	margin: 20px
}
.btn{
	border: none;
	font-size: 2.4rem;
	color: white;
	font-weight: bold;
	padding: 15px 25px;
	min-width: max-content;
	border-radius: 15px;
}
.btn-primary{
	background-color: var(--theme);
}
.btn-secondary{
	font-size: 2.4rem;
	border: 5px solid var(--theme) !important;
	background-color: transparent !important;
}
.smaller{
	font-size: 1.6rem;
}